@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

hr {
  margin: 0;
}

body {
  transition: all 0.5s ease-in-out;
}

.lightItem{
  color: rgb(10, 10, 10)
  
}

.logoImgA {
  margin: 0;
  padding: 0;
}

.logoImg {
  width: 150px;
}

.seriesH2 {
  background-color: #35b459;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.imgPrincipal {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  min-width: 90%;
}

.containerCard {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  &:hover > .card {
    filter: brightness(0.8) blur(4px);
  }
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  transition: all 0.5s ease-in;
}

.divName {
  margin-top: 25px;
}

.botonVerMas {
  background-color: #35b459;
  border: 1px solid transparent;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  width: 7rem;
}

.buttonDiv {
  visibility: hidden;
  transition: all 0.5s ease-in;
  position: absolute;
  bottom: 0;
}

.positionButtonDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover > .buttonDiv {
    visibility: visible;
    transform: translateY(-225px);
  }
}



.logoImgFooter {
  width: 100%;
  max-width: 250px;
}

.darkNav {
  transition: all 0.5s ease-in-out;
  background-color: rgb(32, 32, 32);
}



.dark {
  background-color: rgb(32, 32, 32);
  transition: all 0.5s ease-in-out;
}

.darkCard {
  background-color: rgb(45, 45, 45);
  transition: all 0.5s ease-in-out;
}

.darkButton {
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.5s ease-in-out;
}

.darkIcon {
  color: #35b459;
}

.darkItem {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.div-button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  align-items: center;
}

.div-riel {
  position: relative;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
}

.button {
  position: absolute;
  left: 5px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 25px;
  background-color: skyblue;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.bi-moon-fill {
  color: white;
  font-size: 1.1rem;
  transition: all 0.5s;
}

.bi-brightness-high-fill {
  color: rgb(221, 221, 70);
  font-size: 1.1rem;
  transition: all 0.5s;
}

.buttonSun {
  border: 1px solid inherit;
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.div-riel .active {
  transform: translateX(25px);
  cursor: pointer;
}
