@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logoImg {
  width: 100px;
}

.seriesH2 {
  background-color: #5aed83;
  padding: 20px;
  color: #ffffff
}


.imgPrincipal {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    min-width: 90%;
    
}


.containerCard {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  transition: all 2s ease-in;
  &:hover> .card{
    filter: brightness(0.8) blur(4px);


  }
  } 
  
  


.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border: 0 solid transparent;
  

}


.botonVerMas {
  background-color: #35b459;
  border: 1px solid transparent;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
}

.buttonDiv{
  display: none;
}

.positionButtonDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover >.buttonDiv {
    display: initial;
  }
  
}



.logoImgFooter{
  width: 100%;
  max-width: 250px;  
}




.dark{
    background-color: rgb(39, 39, 39);
  }


.div-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-riel {
    position: relative;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #c4c4c4;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 2px grey,
                -1px -1px 2px grey;
              
  
  }
  
  
  .button {
    position: absolute;
    left: 5px;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 25px;
    background-color: skyblue;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
    border: none;
    transition: all .5s;  
    
  }
  
  .bi-moon-fill {
    color: white;
    font-size: 1.2rem;
    transition: all .5s;  
    
  }
  
  .bi-brightness-high-fill {
    color: rgb(221, 221, 70);
    font-size: 1.2rem;
    transition: all .5s;  
  }

  .buttonSun{
    border: 1px solid inherit;
    background-color: black;
    transition: all .5s;
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    box-shadow: 1px 1px 5px black;
    
  }
  
  
  .div-riel .active {
    transform: translateX(40px);
    cursor: pointer;
    
  }